@use '../utility' as u;

.nav {
    button {
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;

        @media (width >=u.em(1110)) {

            display: none;
        }
    }

    &__btn__open[aria-expanded='true'] {
        ~.nav__cont {
            translate: 0;
        }

    }


    &__cont {
        @media (width <u.em(1110)) {
            display: none;
            position: fixed;
            inset: 0 0 0 u.rem(120);
            background-color: var(--c-white);
            padding: u.rem(30);
            translate: 100vw 0;
            transition: translate 500ms ease-in;
        }
    }

    &__btn__close {
        display: block;
        margin-inline-start: auto;
        margin-block-end: u.rem(86);
        cursor: pointer;


    }

    &__overlay {
        position: fixed;
        background-color: var(--c-blue);
        inset: 0;
        opacity: 0;
        transition: opacity 300ms ease-in;
        display: none;

    }

}